:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .table {
    position: sticky;
    top: 0;
    left: 0;

    &-wrapper {
      position: relative;
      overflow: scroll;
      flex-grow: 1;
    }

    &-form {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .search {
        flex-grow: 1;
        max-width: 50%;
      }
    }
  }

  .activity-indicator {
    width: 8px;
    height: 8px;
    margin: auto;

    background-color: red;
    border-radius: 50%;

    &.active {
      background-color: green;
    }
  }

  .address {
    display: inline-flex;
    align-items: center;
    min-width: 25ch;
    min-height: 3lh;
  }

  ::ng-deep {
    .mat-mdc-table-sticky-border-elem-left {
      overflow: visible;

      &::after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);

        display: block;

        width: 10px;
        height: 100%;

        box-shadow: inset 4px 0 5px -1px rgb(5 5 5 / 4%);
      }
    }
  }
}
