:host {
  display: inline-block;

  &.disabled {
    pointer-events: none;
  }

  .button {
    $radius: 5px;

    user-select: none;
    min-height: 40px;

    &.fab {
      border-radius: $radius;
    }

    &.icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      padding: 0;
    }
  }
}
