:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.options {
  flex-basis: 25%;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.actions {
  display: flex;
  gap: 1em;
}
